<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Finder</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css')}}">
    <script src="{{ url_for('static', filename='./js/mapZoom-in--out.js')}}"></script>
    <!-- <script src="{{ url_for('static', filename='./js/search.js')}}"></script> -->
</head>

<body>

    <div class="main-container">
        <!-- Search Bar  -->
        <div class="container position-relative search-container d-flex align-items-center justify-content-center mt-5" id="search">
            <input type="text" class="room-input" placeholder="Search Room" id="input-search-room">
            <a  class="logout-button mx-3 text-center pt-2 pb-2 px-1 px-md-0" id="search-button" href="{{ url_for('logout') }}">Log Out</a>

            <div class="position-absolute search-result-container" id="container">
            </div>
        </div>
        
        <div class="mt-5 p-3 d-flex flex-column flex-md-row flex-wrap align-items-top justify-content-evenly">
            <!-- EVSU Map DIVISION-->
            <div class="d-block mx-auto rounded mb-3">
                <div class="map-container">
                    <img class="map" src="{{ url_for('static', filename='./images/EVSU-Map.png' )}}" alt="EVSU Map" id="evsu_map">
                </div>
                <div class="zoom-buttons d-flex align-items-center justify-content-around mx-auto mt-3">
                    <button class="btn" id="zoom-in">Zoom In</button>
                    <button class="btn" id="zoom-out">Zoom Out</button>
                </div>
            </div>

            <div class="output-container px-3 pt-3 mx-3 mt-5 mt-lg-0">
                <h5><strong>Facility Room:</strong> <span id="facility-room-result"></span></h5>
                <h5><strong>Facility Building:</strong> <span id="facility-building-result"></span></h5>
                <div class="building-result mt-5 pt-3" id="buildingResult">
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='./js/buildings.js')}}"></script>
    <script src="{{ url_for('static', filename='./js/search_bar.js')}}"></script>
</body>

</html>